<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{} /// Node Farm</title>
    <style>
        *, *::before, *::after{
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }
        html{
            font-size: 62.5%;
            box-sizing: border-box;
        }
        body{
            padding: 5rem 5rem 10rem;
            line-height: 1.7;
            font-family: sans-serif;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Node Farm</h1>
        <figure class="product">
            <div class="product_organic"><h5>Organic</h5></div>
            <a href="#" class="product_back"><span class="emoji-left">👈</span>Back</a>
            <div class="product_hero">
                <span class="product_emoji product_emoji-1">🥑</span>
                <span class="product_emoji product_emoji-2">🥑</span>
                <span class="product_emoji product_emoji-3">🥑</span>
                <span class="product_emoji product_emoji-9">🥑</span>
            </div>
            <h2 class="product_name">Fresh Avocados</h2>
            <div class="product_details">
                <p><span class="emoji-left">🌏</span> From Kashmir</p>
                <p><span class="emoji-left">🔥</span> Vitamin B, Vitamin K</p>
                <p><span class="emoji-left">📦</span> 4 🥑</p>
                <p><span class="emoji-left">🔖</span> $2.8</p>
            </div>
            <a href="#" class="product_link">
                <span class="emoji-left">🛒</span>
                <span>Add to shopping cart ($2.8)</span>
            </a>
            <p class="product_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora tenetur minima aliquam commodi voluptas adipisci animi nisi dolorem voluptates incidunt numquam, repellendus dolor. Nulla vero quo vitae illo accusantium maiores?</p>
        </figure>
    </div>
</body>
</html>